<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Where To Watch">
	<link rel="canonical" href="#">

	<meta property="og:site_name" content="Where To Watch">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary">

	<meta itemprop="url" content="#">
	<meta property="og:url" content="#">
	<meta name="twitter:url" content="#">

	<meta itemprop="image" content="#">
	<meta property="og:image" content="#">
	<meta name="twitter:image" content="#">

	<meta itemprop="name" content="Where To Watch">
	<meta property="og:title" content="Where To Watch">
	<meta name="twitter:title" content="Where To Watch">

	<meta property="og:description" content="">
	<meta name="twitter:description" content="">

	<meta itemprop="description" content="">
	<meta itemprop="keywords" content="">

	<meta name="description" content="">
	<meta name="keywords" content="">

    <link rel="stylesheet" href="../static/style.css">
	<!-- favicon
	<link rel="shortcut icon" href="/common/images/favicon.ico">
	<link rel="apple-touch-icon" href="/common/images/app_ico.png" sizes="144x144">
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Where To Watch</title>
</head>
<body>
    <div class="wrap">
        <main role="main">
            ddd{{id_receive}}
            <section class="info">
                <div class="info-img">
                    <div class="img-area">
                        <img src="http://flexible.img.hani.co.kr/flexible/normal/640/427/imgdb/original/2020/0206/20200206502916.jpg" alt="film title">
                    </div>
                </div>
                <div class="info-tit">
                    <h1>1917</h1>
                    <div class="tit-sub">
                        <span class="age">15</span>
                        <span class="genre">전쟁/드라마</span>
                        <span class="time">1시간 59분</span>
                    </div>
                </div>
                <div class="info-rating">IMDb <span>8.3/10</span></div>
                <div class="info-overview">
                    <ul class="options">
                        <li>
                            <a href="#">
                                <div class="option-img"><img src="../static/images/watcha.jpeg" alt="title 지금 보기"></div>
                                <em>지금 보기</em>
                                <span>₩2,500</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="option-img"><img src="../static/images/ico_wish.png" alt="관심 목록 추가"></div>
                                <em>관심 목록</em>
                            </a>
                        </li>
                    </ul>
                    <div class="provider-list">
                        <h2>지금 감상하기</h2>
                        <ul>
                            <li>
                                <img src="../static/images/watcha.jpeg" alt="youtube">
                                <div>
                                    <strong>YouTube</strong>
                                    <span>₩2,500</span>
                                </div>
                                <a href="#" class="link-watch">✔️ 보기</a>
                            </li>
                            <li>
                                <img src="../static/images/watcha.jpeg" alt="youtube">
                                <div>
                                    <strong>넷플릭스</strong>
                                    <span>구독</span>
                                </div>
                                <a href="#" class="link-watch">🎬 보기</a>
                            </li>
                            <li>
                                <img src="../static/images/watcha.jpeg" alt="youtube">
                                <div>
                                    <strong>넷플릭스</strong>
                                    <span>구독</span>
                                </div>
                                <a href="#" class="link-watch">🍿 보기</a>
                            </li>
                            <li>
                                <img src="../static/images/watcha.jpeg" alt="youtube">
                                <div>
                                    <strong>넷플릭스</strong>
                                    <span>구독</span>
                                </div>
                                <a href="#" class="link-watch">🎥 보기</a>
                            </li>
                        </ul>
                    </div>
                    <div class="summary">
                        <div class="summary-txt">《1917》은 2019년 개봉한 영국, 미국의 서사 전쟁 영화로, 샘 멘데스 감독이 연출하고, 크리스티 윌슨케언스와 같이 각본을 썼다. 제1차 세계 대전을 배경으로, 독일군의 함정에 빠진 아군을 구하기 위해 적진을 뚫고 달려가는 두 영국 병사가 하루 동안 겪는 사투를 그린 영화이다.</div>
                        <div class="summary-item">
                            <dl>
                                <dt>감독:</dt>
                                <dd>샘 멘데스</dd>
                            </dl>
                            <dl>
                                <dt>출연진:</dt>
                                <dd>Dean-Charles Chapman, George MacKay, Daniel Mays ..</dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="info-wishlist">
                    <h3>WISHLIST</h3>
                    <ul class="card-list">
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                    <li class="card">
                        <a href="#">
                            <div class="img-area">
                                <img src="https://picsum.photos/200/300?grayscale&blur=2">
                            </div>
                        </a>
                    </li>
                </ul>
                </div>
            </section>
        </main>
    </div>

<script src="../static/ui.js"></script>
</body>
</html>