<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Where To Watch">
    <link rel="canonical" href="#">

    <meta property="og:site_name" content="Where To Watch">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">

    <meta itemprop="url" content="http://wheretowatch.shop/">
    <meta property="og:url" content="http://wheretowatch.shop/">
    <meta name="twitter:url" content="http://wheretowatch.shop/">

    <meta itemprop="image" content="{{ url_for('static', filename='images/og_image.png') }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/og_image.png') }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/og_image.png') }}">

    <meta itemprop="name" content="Where To Watch">
    <meta property="og:title" content="Where To Watch">
    <meta name="twitter:title" content="Where To Watch">

    <meta property="og:description" content="보고싶은 그 영화, Where to watch?">
    <meta name="twitter:description" content="보고싶은 그 영화, Where to watch?">

    <meta itemprop="description" content="보고싶은 그 영화, Where to watch?">
    <meta itemprop="keywords" content="보고싶은 그 영화, Where to watch?">

    <meta name="description" content="보고싶은 그 영화, Where to watch?">
    <meta name="keywords" content="보고싶은 그 영화, Where to watch?">

    <link rel="stylesheet" href="../static/style.css">
	<!-- favicon
	<link rel="shortcut icon" href="/common/images/favicon.ico">
	<link rel="apple-touch-icon" href="/common/images/app_ico.png" sizes="144x144">
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Where To Watch</title>
</head>
<body>
    <div class="wrap">
        <header>
            <h1><a href="index.html" title="홈으로 이동">👩🏻‍💻</a></h1>
        </header>
        <main role="main">
            <section class="info">
                <div class="info-img">
                    <div class="img-area">
                        <img src="{{doc.main_image_url}}" alt="{{doc.title}}">
                    </div>
                </div>
                <div class="info-tit">
                    <h2>{{doc.title}} <span>({{doc.original_release_year}})</span></h2>
                    <div class="tit-sub">
<!--                        <span class="age">15</span>-->
                        <span class="genre">
                            {% for idx in range(doc.genre|length) %}<span>{{doc.genre[idx]}}</span>{% endfor %}
                        </span>
                        <span class="time">{{doc.runtime}}분</span>
                    </div>
                </div>
                <div class="info-rating">
                    {% for score in doc.scores %}

                    {% if score.provider_type == 'imdb:score' %}
                        IMDb <span>{{score.value}}/10</span>
                        {% break %}
                    {% elif score.provider_type == 'tmdb:score' %}
                        TMDb <span>{{score.value}}/10</span>
                        {% break %}
                    {% endif %}

                    {% endfor %}
                </div>
                <div class="info-overview">
                    <ul class="options">
                        <li>
                            <a href="{{doc.lowest_offer[0].urls_standard_web}}" title="{{doc.title}} 지금 보기">
                                <div class="option-img"><img src="../static/images/{{doc.lowest_offer[0].provider_num}}.jpeg" alt="{{doc.lowest_offer[0].provider_name}}"></div>
                                <em>지금 보기</em>
                                {% if doc.lowest_offer[0].retail_price == '정액제' %}
                                <span>{{doc.lowest_offer[0].retail_price}}</span>
                                {% elif doc.lowest_offer[0].retail_price != '정액제' %}
                                <span>₩{{doc.lowest_offer[0].retail_price}}</span>
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="#" class="add-wishlist" data-id="{{doc.id}}" data-poster="{{doc.poster}}" data-title="{{doc.title}}">
                                <div class="option-img"><img class="wishlist-icon" src="../static/images/icon_wish.png" alt="관심 목록 추가"></div>
                                <em>관심 목록</em>
                            </a>
                        </li>
                    </ul>
                    <div class="provider-list">
                        <h3>지금 감상하기</h3>
                        <ul>
                            {% for offer in doc.offers %}
                            <li>
                                <img src="../static/images/{{offer.provider_num}}.jpeg" alt="youtube">
                                <div>
                                    <strong>{{offer.provider_name}}</strong>
                                    {% if offer.retail_price == '정액제' %}
                                    <span>{{offer.retail_price}}</span>
                                    {% elif offer.retail_price != '정액제' %}
                                    <span>최저 ₩{{offer.retail_price}}</span>
                                    {% endif %}
                                </div>
                                <a href="{{offer.urls_standard_web}}" class="link-watch" target="_blank">🎬 보기</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="summary">
                        <div class="summary-txt">{{doc.description}}</div>
                        <div class="summary-item">
                            <dl>
                                <dt>감독:</dt>
                                <dd>
                                    {% for idx in range(doc.directors|length) %}{{doc.directors[idx]}}{% endfor %}
                                </dd>
                            </dl>
                            <dl class="actors">
                                <dt>출연진:</dt>
                                <dd>
                                    {% for idx in range(doc.actors|length) %}{{doc.actors[idx]}}, {% endfor %}
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="info-wishlist">
                    <h3>WISHLIST</h3>
                    <ul class="card-list" id="wishList">
<!--                        <li class="card">-->
<!--                            <a href="#">-->
<!--                                <div class="img-area">-->
<!--                                    <img src="https://picsum.photos/200/300?grayscale&blur=2">-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
                    </ul>
                </div>
            </section>
        </main>
    </div>

<script src="../static/ui.js"></script>
</body>
</html>