<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="Where To Watch">
    <link rel="canonical" href="#">

    <meta property="og:site_name" content="Where To Watch">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary">

    <meta itemprop="url" content="http://wheretowatch.shop/">
    <meta property="og:url" content="http://wheretowatch.shop/">
    <meta name="twitter:url" content="http://wheretowatch.shop/">

    <meta itemprop="image" content="{{ url_for('static', filename='images/og_image.png') }}">
    <meta property="og:image" content="{{ url_for('static', filename='images/og_image.png') }}">
    <meta name="twitter:image" content="{{ url_for('static', filename='images/og_image.png') }}">

    <meta itemprop="name" content="Where To Watch">
    <meta property="og:title" content="Where To Watch">
    <meta name="twitter:title" content="Where To Watch">

    <meta property="og:description" content="보고싶은 그 영화, Where to watch?">
    <meta name="twitter:description" content="보고싶은 그 영화, Where to watch?">

    <meta itemprop="description" content="보고싶은 그 영화, Where to watch?">
    <meta itemprop="keywords" content="보고싶은 그 영화, Where to watch?">

    <meta name="description" content="보고싶은 그 영화, Where to watch?">
    <meta name="keywords" content="보고싶은 그 영화, Where to watch?">

    <link rel="stylesheet" href="../static/style.css">
    <!-- favicon
    <link rel="shortcut icon" href="/common/images/favicon.ico">
    <link rel="apple-touch-icon" href="/common/images/app_ico.png" sizes="144x144">
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Where To Watch</title>
</head>
<body>
<div class="wrap">
    <main role="main">
        <section class="cont">
            <div class="search">
                <div class="search-area">
                    <h1>👩🏻‍💻 Where to watch?</h1>
                    <div class="search-input">
                        <label for="search-title" class="hidden">검색</label>
                        <input type="text" name="search-title" id="search-title" placeholder="어떤 영화를 찾으세요?">
                        <button type="button" class="btn-clear">❌<span class="hidden">삭제</span></button>
                        <button type="button" class="btn-search" onclick="getMatches()">🔍<span
                                class="hidden">검색</span></button>
                    </div>
                    <ul class="search-suggestions">

                    </ul>
                </div>
            </div>
        </section>
        <section class="cont">
            <ul class="card-list" id="searchList" style="display: none">
<!--                <li class="card">-->
<!--                    <a href="#">-->
<!--                        <div class="img-area">-->
<!--                            <img src="https://picsum.photos/200/300?grayscale&blur=2">-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
            <div class="nodata">일치하는 결과가 없습니다 😫😥😭</div>
        </section>
    </main>
</div>

<script src="../static/ui.js"></script>

</body>
</html>